.container{
    
    margin: 0px auto;
    width: 750px;
    height:600px;
    background-color: silver;
    /*overflow: auto;*/
}
.top-nav {
    height: 100px;
    background-color: green;
    width:670px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.side-nav {
    height: 200px;
    width: 150px;
    background-color: blue;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    display: inline-block;
}
.main {
    height: 300px;
    width: 500px;
    background-color: red;
    display: inline-block;


}
.sub-content {
    height: 90px;
    width: 100px;
    background-color: yellow;
    border:1px solid black;
    margin:5px;
    padding: 20px;
}
#advertisement {
    height: 50px;
    width: 400px;
    background-color: purple;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
    align:
}
.row {
    /* TODO - what should go here? */
    display:flex;
}
